.login-form {
  margin: 0 auto;
}

input, button {
  box-shadow: none;
  background: none;
  border: 1px solid transparent;
  color: white;
}

.card-header h3 {
  color: #cccccc;
}

.fas {
  color: beige;
}

.card {
  margin: 0 auto;
  width: 300px;
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
}

input {
  border-radius: 10px;
}

#login-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 20px;
  width: 100%;
}

#password-reset {
  font-size: 12px;
}

.error {
  border: 1px solid red !important;
}

.error-box {
  color: red;
}
