<div class="login-form h-100 d-flex align-items-center justify-content-center">
  <div class="card d-flex flex-column">
    <div class="card-header">
      <h3>Login</h3>
    </div>
    <div class="card-body">
      <div class="text-center">
        <label for="login">
          <i class="pi pi-user me-3"></i>
        </label>
        <input id="login" type="text"
               [(ngModel)]="model.username" placeholder="Enter your login">
      </div>
      <div class="text-center">
        <label for="password">
          <i class="pi pi-lock me-3"></i>
        </label>
        <input id="password" type="password"
               [(ngModel)]="model.password" placeholder="Enter your password">
      </div>
      <div class="error-box text-center">
        <p id="error-list"></p>
      </div>
      <div class="mt-3 text-center">
        <button type="button"
                id="login-button"
                (click)="login()">Log in</button>
      </div>
    </div>
    <div class="card-footer">
      <a href="#" id="password-reset">Reset password</a>
    </div>
  </div>
</div>
