/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,body{
  background-image: url('https://images.hdqwalls.com/wallpapers/abstract-simple-background-4k-lp.jpg');
  //background-color: #f8c07b;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.container {
  height: 100%
}
